@import '../../common/styles/sass/mixins';

.projectsBlock {

.container {
  @include container ();
  .projectsTitle {
    font-size: 35px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    line-height: 1.75em;
    color: #9c5451;
    text-align: center;
    margin-top: 20px;
  }
  .wrapperProjects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  @media screen and (max-width: 1125px)  {
    .wrapperProjects {
      justify-content: center;
    }
    .projectsBlock {
      height: 100%;
    }
  }
}
  height: 100vh;
}

@media screen and (max-width: 1125px)  {
  .projectsBlock {
    height: 100%;
  }
}


