.projectsBlock {
    height: 100vh;

}

.wrapperProjects {
    display: flex;
    justify-content: space-between;

}
.projectsTitle{
    font-size: 35px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    line-height: 1.75em;
    color: #9c5451;
    text-align: center;
    margin-top: 20px;
}
