@import '../../common/styles/sass/mixins';

.projectsBlock {

.container {
  @include container ();
  .projectsTitle {
   @include title()
  }
  .wrapperProjects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  @media screen and (max-width: 1125px)  {
    .wrapperProjects {
      justify-content: center;
    }
    .projectsBlock {
      height: 100%;
    }
  }
}
  height: 100vh;
}

@media screen and (max-width: 1125px)  {
  .projectsBlock {
    height: 100%;
  }
}


