@import '../../common/styles/sass/mixins';


.aboutMeBlock {
  height: 100vh;
  .container {
    @include container();
    .aboutMeWrapper {
      display: flex;
      .imagesBlock {
        width: 500px;
        height: 80vh;
        background-size: cover;
        background-position: center;
      }
      .aboutMeTextBlock {
        margin-left: 60px;
        .aboutMeName {
          color: #9c5451;
          font-family: 'Playfair Display', serif;
          font-weight: 400;
          font-size: 35px;
          line-height: 1.5em;
          margin: 0;
          word-spacing: 5px;
        }
        .aboutMeProfession {
          margin: 0 0 20px 0;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 300;
          font-family: 'Mukta', sans-serif;
          color: #fff;
          letter-spacing: 4px
        }
        .aboutMeText {
          max-width: 413px;
          color: #999;
          margin: 30px 0;
          font-size: 14px;
          line-height: 1.75em;
        }
        .iconInstagram {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

